In [2]:
from google.colab import files
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')
import string
import gensim

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [42]:
folklore = pd.read_csv('08-folklore_deluxe_version.csv')
evermore = pd.read_csv('09-evermore_deluxe_version.csv')
lover = pd.read_csv('07-lover.csv')
reputation = pd.read_csv('06-reputation.csv')
the1989 = pd.read_csv('05-1989_deluxe.csv')
red = pd.read_csv('04-red_deluxe_edition.csv')
speak = pd.read_csv('03-speak_now_deluxe_package.csv')
fearless = pd.read_csv('02-fearless_taylors_version.csv')
taylor = pd.read_csv('01-taylor_swift.csv')

In [43]:
df = pd.concat([folklore, evermore, lover,reputation,the1989,red,speak,fearless,taylor], axis=0)
df.head()

,album_name,track_title,track_n,lyric,line
0,folklore (deluxe version),the 1,1,"I'm doing good, I'm on some new shit",1
1,folklore (deluxe version),the 1,1,"Been saying ""yes"" instead of ""no""",2
2,folklore (deluxe version),the 1,1,"I thought I saw you at the bus stop, I didn't ...",3
3,folklore (deluxe version),the 1,1,I hit the ground running each night,4
4,folklore (deluxe version),the 1,1,I hit the Sunday matinée,5

In [5]:
!wget http://nlp.stanford.edu/data/glove.6B.zip

--2022-11-04 09:10:12--  http://nlp.stanford.edu/data/glove.6B.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/data/glove.6B.zip [following]
--2022-11-04 09:10:12--  https://nlp.stanford.edu/data/glove.6B.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://downloads.cs.stanford.edu/nlp/data/glove.6B.zip [following]
--2022-11-04 09:10:12--  https://downloads.cs.stanford.edu/nlp/data/glove.6B.zip
Resolving downloads.cs.stanford.edu (downloads.cs.stanford.edu)... 171.64.64.22
Connecting to downloads.cs.stanford.edu (downloads.cs.stanford.edu)|171.64.64.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 862182613 (822M) [application/zip]
Saving to: ‘glove.6B.zip’

glove.6B.zip        100%[===================>] 822.24M  5.02MB/s    in 2m 39s

2022-11-04 09:12:52 (5.17 MB/s) - ‘glove.6B.zip’ saved [862182613/862182613]

In [6]:
!unzip glove*.zip

Archive:  glove.6B.zip
  inflating: glove.6B.50d.txt
  inflating: glove.6B.100d.txt
  inflating: glove.6B.200d.txt
  inflating: glove.6B.300d.txt

In [ ]:
# preprocessing - zmienić didn't na did not itd
# usunac cyferki

In [44]:

translate_table = dict((ord(char), None) for char in string.punctuation) 
df['lyric'] = df['lyric'].apply(lambda x: x.translate(translate_table))

In [8]:
df.head()

,album_name,track_title,track_n,lyric,line
0,folklore (deluxe version),the 1,1,Im doing good Im on some new shit,1
1,folklore (deluxe version),the 1,1,Been saying yes instead of no,2
2,folklore (deluxe version),the 1,1,I thought I saw you at the bus stop I didnt th...,3
3,folklore (deluxe version),the 1,1,I hit the ground running each night,4
4,folklore (deluxe version),the 1,1,I hit the Sunday matinée,5

In [45]:
df['lyric'] = df['lyric'].apply(lambda x: x.lower())

In [46]:
def get_pos(word):

  #Słownik mapujący symbole części mowy zwrócone przez tagger do ich ekwiwalentów akceptowalnych przez lemmatizer
    tag_map = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

  #Tagowanie części mowy i pobieranie jej symbolu
    tag = nltk.pos_tag([word])[0][1][0].upper()

  #Zwracanie zmapowanej wartości - w przypadku braku wartością domyślną jest rzeczownik
    return tag_map.get(tag, wordnet.NOUN)

In [47]:
lemmatizer = WordNetLemmatizer()

In [48]:
def lemmatize(text):
    return ' '.join(lemmatizer.lemmatize(word, get_pos(word)) for word in nltk.word_tokenize(text))

In [49]:
df['lyric'] = df['lyric'].apply(lambda x: x.replace("\u2005", " "))

In [50]:
df['lyric'] = df['lyric'].apply(lambda x: lemmatize(x))

In [51]:
all_lyrics = ' '.join(list(df['lyric']))

In [52]:
words = nltk.word_tokenize(all_lyrics)

words=[word.lower() for word in words]
vocab = set(words)

print(vocab)

{'pane', 'he—', 'sadness', 'mr', 'actually', 'off', 'tattoo', 'insult', 'gather', 'toy', 'trophy', 'home', 'onе', 'vine', 'betty', 'aim', 'hold', 'dom', 'infidelity', 'sister', 'god', 'thousand', 'awesome', 'wish', 'saltbox', 'laugh', 'bright', 'pastry', 'swear', 'photo', 'art', 'anybody', 'sleeve', 'faithless', 'blush', 'collect', 'applause', 'whod', 'be', 'aside', 'yesterday', 'helmet', 'fragile', 'locket', 'mmh', 'wax', 'beautiful', 'into', 'waitress', 'invite', 'conquest', 'anyone', 'follow', 'way', 'scarf', 'star', 'curse', 'fancy', 'broken', 'jetset', 'namedropping', 'backlogged', 'game', 'politics', 'pillow', 'aurora', 'eightynine', 'august', 'shouldve', 'sinkin', 'wild', 'ourselves', 'special', 'crashed', 'natural', 'sweatshirt', 'bustling', 'sat', 'only', 'health', 'claw', 'selfexpression', 'expect', 'pas', 'tore', 'ooh', 'mascara', 'touchin', 'confuse', 'jaguar', 'bond', 'overdramatic', 'iron', 'wrap', 'style', 'lifeline', 'goddamn', 'lobby', 'fair', 'want', 'suppose', 'blew', 'me', 'relate', 'fearless', 'cheek', 'read', 'cold', 'exchange', 'deep', 'whеn', 'absentmindedly', 'up', 'burrow', 'dreamland', 'worship', 'argue', 'honestly', 'pretend', 'earthquake', 'mend', 'teardrop', 'strange', 'swerve', 'like', 'steal', 'jury', 'ohoh', 'defense', 'fakin', 'thief', 'ahead', 'define', 'breathe', 'middle', 'tilt', 'mile', 'always', 'tapestry', 'fire', 'die', '1', 'electrify', 'chill', 'frustrate', 'scratch', 'choice', 'solve', 'dear', 'reach', 'ta', 'wedding', 'chick', 'town', 'conversation', 'doublecrossed', 'intention', 'paralyze', 'swore', 'vacant', 'bring', 'party', 'poem', 'scar', 'grin', 'pay', 'pirate', 'comb', 'seal', 'necklace', 'phantom', 'unlucky', 'intertwine', 'backseat', 'count', 'complex', 'wed', 'bloody', 'nick', 'lonely', 'autumn', 'bleedin', 'faith', 'relief', 'message', 'wool', 'ahah', 'air', 'hot', 'delusion', 'bye', 'your', 'case', 'dadadada', 'fantasy', 'compliment', 'elegy', 'architect', 'language', 'americana', 'fix', 'work', 'phase', 'teeth', 'miss', 'eagle', 'tuck', 'courage', 'cloak', 'headphone', 'bridetobe', 'share', 'insurmountable', 'fade', 'drove', 'november', 'lovely', 'ace', 'tuesday', 'big', 'catch', 'understudy', 'friend', 'rather', 'folklore', 'shiniest', 'wonderstruck', 'everything', 'sober', 'strong', 'hed', 'chalkboard', 'pretender', 'let', 'suit', 'expire', 'trace', 'admit', 'refrigerator', 'handwritten', 'crime', 'lock', 'sway', 'drawer', 'long', 'greed', 'january', 'rebel', 'unbelievable', 'torture', 'park', 'tragedy', 'throne', 'treat', 'lunchbox', 'believe', 'shameless', 'crown', 'trench', 'whoaoh', 'oasis', 'achilles', 'chess', 'rogue', 'lurk', 'frame', 'snotty', 'those', 'people', 'flesh', 'crescent', 'desk', 'changer', 'wrong', 'reputation', 'oohoohoohoohoohooh', 'signal', 'trample', 'never', 'unbroken', 'barbed', 'give', 'glaad', 'forth', 'side', 'axe', 'space', 'book', 'neon', 'suburban', 'drown', 'dope', 'madison', 'battle', 'strategized', 'flung', 'dean', 'leaf', 'nardo', 'haze', 'country', 'string', 'issue', 'spring', 'for', 'ok', 'nightmare', 'echo', 'anyway', 'vanished', 'lunch', 'well', 'magical', 'cornelia', 'gardеn', 'december', 'the', 'carve', 'map', 'tunnel', 'breakfast', 'breathing', 'password', 'flutter', 'burning', 'sunny', 'him', 'bore', 'confession', 'darker', 'brandnew', 'cage', 'bridesmaid', 'sweater', 'switch', 'tolerate', 'exception', 'minute', 'young', 'different', 'flashback', 'bang', 'look', 'singer', 'against', 'fortune', 'goodnight', 'perspective', 'crush', '45', 'shakin', 'standard', 'play', 'ours', 'bout', 'helpless', 'mccartney', 'wholl', 'abigail', 'sharе', 'tan', 'sweet', 'pennsylvania', 'shred', 'address', 'unless', 'prep', 'class', 'past', 'flyin', 'nasty', 'pacin', 'lovestruck', 'which', 'knockout', 'clue', 'beat', 'actress', 'ground', 'bar', 'weight', 'shed', 'levi', 'leader', 'casually', 'glance', 'beside', 'should', 'track', 'gesture', 'danger', 'chosen', 'hero', 'field', 'smalltown', 'please', 'becomes', 'homeroom', 'gettin', 'roar', 'porch', 'somethings', 'score', 'wouldve', 'sight', 'humor', 'here', 'everyone', 'amen', 'sip', 'unmoored', '22', 'shy', 'misery', 'mysterious', 'match', 'slip', 'wonderin', 'pedestal', 'complication', 'scathing', 'full', 'until', 'saint', 'hip', 'mirrorball', 'wheel', 'shadow', 'brand', 'decade', 'dice', 'misread', 'indigo', 'til', 'chair', 'sunlit', 'current', 'someday', 'iii', 'worthwhile', 'gentleman', 'centerfold', 'damsel', 'shirt', 'ring', 'shesaid', 'doesnt', 'chose', 'stare', 'related', 'paperthin', 'grow', 'why', 'prechorus', 'next', 'scarlet', 'divorcée', 'avalanche', 'man', 'afterglow', 'trade', 'india', 'float', 'awake', 'bеing', 'probably', 'priceless', 'separate', 'unforgiven', 'girl', 'fore', 'noose', 'week', 'cheat', 'vulture', 'rent', 'onеhorse', 'circus', 'swindle', 'screw', 'jean', 'focus', 'reinvention', 'temple', 'integrity', 'fresh', 'mischief', 'store', 'tangle', 'med', 'between', 'ahuh', 'speculate', 'cruel', 'horse', 'date', 'soft', 'pierce', 'wire', 'bloom', 'fit', 'bein', 'i–', 'peter', 'point', 'cannonball', 'prom', 'scheme', 'pourin', 'vote', 'instrumental', 'muffle', 'psycho', 'ran', 'motown', 'breath', 'passport', 'guard', 'number', 'ateam', 'forgets', 'brave', 'ice', 'optimism', 'sideline', 'grabbed', 'stair', 'sound', 'wonder', 'almost', 'hi', 'to', 'safe', 'therell', 'legend', '’', 'passionate', 'hop', 'persist', 'united', 'job', 'erase', 'our', 'ten', 'rock', 'expensive', 'wendy', 'dreamt', 'spell', 'real', 'free', 'ripped', 'power', 'closer', 'queen', 'easy', 'put', 'este', 'dreamer', 'line', 'return', 'push', 'honey', 'far', 'dark', 'cardigan', 'obsessive', 'exman', 'irrational', 'gleam', 'limb', 'suspicious', 'clandestine', 'type', 'lot', 'aglow', 'shot', 'captivate', 'floor', 'dollar', 'twice', 'skeleton', 'hatchet', 'night', 'part', 'doc', 'rise', 'city', '158', 'brake', 'drought', 'frown', 'secret', 'knee', 'blaze', 'age', 'you', 'precedes', 'uhhuh', 'somewhere', 'lucky', 'held', 'sure', 'wink', 'national', 'leo', 'two', 'invisible', 'twist', 'squeeze', 'blushing', 'rifle', 'leave', 'group', 'woman', 'realize', 'draw', 'life', 'ain', 'bruise', 'firstglance', 'grind', 'wooden', 'vision', 'cup', 'kill', 'begin', 'bathtub', 'dim', 'shit', 'bettеr', 'rattle', 'she', 'truck', 'raidеd', 'cory', 'plan', 'whisper', 'adjust', 'exist', 'hell', 'offend', 'blanket', 'datin', 'ill', 'everybodys', 'about—', 'everythings', 'isnt', 'quiet', 'eyelid', 'ghost', 'borrow', 'revolve', 'cruisin', 'till', 'taylor', 'belong', 'say', 'storyline', 'water', 'burnin', 'joker', 'these', 'huh', 'middleclass', 'busy', 'moment', 'gon', 'hella', 'happens', 'deadline', 'clear', 'humiliation', 'hopeful', 'sign', 'champion', 'compare', 'jump', 'coat', 'ruin', 'many', 'springsteen', 'werent', 'fun', 'rant', 'earn', 'gravity', 'wick', 'don', 'boyfriend', 'world', 'drinkin', 'strand', 'nail', 'right', 'it', 'yell', 'even', 'bury', 'march', 'lady', 'rainbow', 'furious', 'paradise', 'palm', 'crumple', 'highgate', 'tweet', 'liquor', 'deny', 'wornout', 'this', 'mad', 'check', 'hopeless', 'tie', 'organ', 'sits', 'skateboard', 'story', 'hallway', 'rake', 'sick', 'acid', 'flood', 'burnt', 'crumble', 'band', 'sword', 'mortify', 'final', 'kaleidoscope', 'boot', 'husband', 'afraid', 'lonelinеss', 'dyin', 'castle', 'airplane', 'insane', 'stole', 'above', 'license', 'mouth', 'lit', 'lyin', 'reflection', 'control', 'creep', 'seein', 'flash', 'losin', 'coffee', 'tomorrow', 'herd', 'matinée', 'rabbit', 'punish', 'fence', 'tiny', 'not', 'candle', 'ever', 'scare', 'dash', 'hate', 'airport', 'quite', 'stone', 'sin', 'elevator', 'found', 'podium', 'piss', 'indie', 'reconnected', 'charm', 'send', 'guess', 'nightstand', 'grip', 'sometimes', 'obsessin', 'four', 'scrap', 'barren', 'spends', 'hesitation', 'wheres', 'bunch', 'repeat', 'missile', 'starlight', 'pérignon', 'halo', 'flaw', 'stain', 'dive', 'frustratеd', 'havent', 'anymore', 'pad', 'disbelief', 'brain', 'wear', 'fate', 'divide', 'bedsheets', 'attach', 'keepin', 'thе', 'forevermore', 'merlot', 'search', 'indiscretion', '230', 'crestfallen', 'waitin', 'glitter', 'path', 'much', 'now', 'angry', 'lantern', 'island', 'damn', 'creek', 'below', 'stand', 'jacket', 'muddy', 'really', 'bought', 'wisteria', 'failure', 'pink', 'white', 'bloodstain', 'remark', 'tarnished', 'proportion', 'sittin', 'choose', 'suddenly', 'parking', 'half', 'receipt', 'leavin', 'test', 'slowly', 'hello', 'seven', 'hunter', 'exlovers', 'sideshow', 'superman', 'dragon', 'fashion', 'farm', 'slope', 'his', 'body', 'hometown', 'calamitous', 'death', 'darkness', 'idiotic', 'range', 'journey', 'call', 'pound', 'team', 'cannon', 'dorm', 'whether', 'slate', 'messy', 'instead', 'incandescent', 'fought', 'told', 'belt', 'g5', 'adventure', 'doorway', 'card', 'actin', 'brighten', 'yet', 'pathetic', 'and', 'behind', 'present', 'curfew', 'if', 'kiana', 'breathless', 'condescend', 'heir', 'blood', 'lame', 'fall', 'radio', 'funny', 'nervously', 'lawn', 'clover', 'comparison', 'weaker', 'sleight', 'ask', 'georgia', 'ultraviolet', 'struggle', 'request', 'reflect', 'wait', 'trippin', 'illusionist', 'uh', 'war', 'tappin', 'drama', 'moon', 'playful', 'everpresent', 'sunset', 'condition', 'outskirt', 'i', 'breeze', 'felt', 'contrarian', 'skipskippin', 'wood', 'nurse', 'trouble', 'heaven', 'rumor', 'end', 'masquerade', 'christmas', 'na', 'wield', 'drug', 'lie', 'traffic', 'boyish', 'therein', 'tire', 'kept', 'picture', 'glistеn', 'proposition', 'butterfly', 'bandaids', 'stressin', 'mirror', 'dirty', 'resist', 'oil', 'excite', 'x', 'on', 'eightyseven', 'shout', 'marry', 'motion', 'still', 'forget', 'skirt', 're', 'mother', 'wall', 'chorus', 'rugby', 'circle', 'pavement', 'shipwreck', 'asleep', 'green', 'patience', 'luck', 'dayold', 'paid', 'rub', 'coney', 'wing', 'babylon', 'detail', 'restaurant', 'rest', 'will', 'fever', 'lettin', '2', 'slick', 'vacancy', 'soundtrack', 'cab', 'least', 'homeland', 'folk', 'gaze', 'knuckle', 'version', 'anticipatin', 'while', 'redhead', 'palace', 'creak', 'know', 'closet', 'classroom', 'prove', 'clean', 'amber', 'dreary', 'tryin', 'come', 'crash', 'lover', 'stoke', 'bedpost', 'screen', 'hole', 'socal', 'men', 'pickup', 'when', 'onehand', 'nonchalant', 'whats', 'grown', 'fatefully', 'coast', 'room', 'lifeless', 'mmmmmmmm', 'peculiar', 'themselves', 'saddest', 'intoxicate', 'stuff', 'howd', 'smirk', 'mm', 'parttime', 'deck', 'official', 'grey', 'hundredth', 'butt', 'peak', 'teach', 'unnecessary', 'dinner', 'daughter', 'eulogize', 'boxing', 'burton', 'reply', 'beauty', 'upstanding', 'cross', 'hush', 'bone', 'methodist', 'top', 'their', 'pretty', 'kingdom', 'mmmm', 'ohohohohohohoh', 'tennis', 'drink', 'threw', 'spend', 'highly', 'mosaic', 'fill', 'cure', 'take', 'flower', 'then', 'camera', 'empty', 'harm', 'block', 'train', 'taste', 'excruciate', 'cynic', 'crimson', 'riddle', 'theyre', 'jealous', 'siren', 'reckless', 'punch', 'state', 'evergreen', 'counter', 'nowhere', 'jumped', 'eh', 'nothin', 'leak', 'taker', 'pumpkin', 'mate', 'cliff', 'roll', 'bench', 'endear', 'rosy', 'darling', 'coaxed', 'faithforgotten', '9th', 'priority', 'hunt', 'heard', 'shelf', 'pass', 'surface', 'either', 'happiness', 'verdict', 'eclipse', 'daisy', 'secrecy', 'stayed', 'less', 'ivy', 'letter', 'shoulda', 'serve', 'soon', 'spite', 'gown', 'braid', 'corner', 'verify', 'cloth', 'player', 'flow', 'uhuh', 'whisky', 'crossword', 'translation', 'exlove', 'vintage', 'plane', 'attack', 'ember', 'la', 's', 'role', 'terrible', 'lookin', 'grumble', 'he', 'future', 'warm', 'an', 'lay', 'narcissist', 'jet', 'easily', 'firework', 'heal', 'horrify', 'how', 'windshield', 'change', 'heartstopping', 'plastic', 'struck', 'blame', 'rush', 'button', 'no', 'soul', 'list', 'figure', 'fourteen', 'ricochet', 'enjoy', 'oohoohoohoohooh', 'religion', 'cut', 'dwindle', 'wife', 'any', 'stephen', 'gold', 'whoa', 'more', 'nerve', 'wolf', 'month', 'onto', 'golden', 'pub', 'blink', 'tear', 'iisland', 'woah', 'single', 'veil', 'ugh', 'sneaker', 'rosé', 'ah', 'hostage', 'father', 'tiptoe', 'under', 'doesn', 'go', 'plain', 'hide', 'prison', 'daydream', 'slam', 'fifteen', 'sleeper', 'we', 'girlfriend', 'learn', 'purplepink', 'upstate', 'untouchable', 'mine', 'youll', 'pin', 'flight', 'forward', 'waistline', 'care', 'jungle', 'except', 'sweep', 'thrownout', 'bold', '”', 'sun', 'faker', 'champagne', 'dignify', 'built', 'county', 'deepest', 'swam', 'blur', 'unaware', 'riviera', 'linger', 'disappear', 'breakdown', 'magnetic', 'refuse', 'picked', 'stupid', 'stop', 'shame', 'brother', 'with', 'neither', 'youre', 'coastal', 'wouldnt', 'luxury', 'briefcase', 'pain', 'family', 'step', 'tight', 'rough', 'bottom', 'swift', 'use', 'tend', 'bе', 'bet', 'expert', 'figment', 'insincere', 'initial', 'brixton', 'stayin', 'calmer', 'spark', 'ha', 'hollow', 'flame', 'answer', 'woke', 'deadend', 'windermere', 'ive', 'such', 'stabbed', 'myself', 'rude', 'hehe', 'frozen', 'hospital', 'crook', 'mmmmmm', 'thankin', 'polish', 'summer', 'them', 'won', 'hour', 'burn', 'sleep', 'mmm', 'memory', 'nightfall', 'bent', 'swim', 'everchanging', 'fine', 'buy', 'tent', 'polaroid', 'potential', 'mean', 'sit', 'day', 'closure', 'twentythree', 'skeptic', 'impossible', 'twinsized', 'thinkin', 'café', 'new', 'brittle', 'gauche', 'gloss', 'hopin', 'll', 'globe', 'stray', 'hindsight', 'playboy', 'prettiest', 'hardwood', 'warn', 'revolution', 'internet', 'swallow', 'self', 'pull', 'fifty', 'dancin', 'handshake', 'pace', 'tshirts', 'american', 'enchant', 'sixty', 'shop', 'lyric', 'cause', 'beneath', 'wouldn', 'distant', 'complicate', 'friday', 'threeyear', 'holy', 'mystical', 'lightnin', 'lead', 'around', 'broke', 'bass', 'trend', 'glad', 'clock', 'tightrope', 'yeah', 'laid', 'account', 'poison', 'crawl', 'true', 'inescapable', 'quick', 'bobby', 'timing', 'welcome', 'sky', 'pure', 'anything', 'vend', 'mission', 'start', 'hoax', 'balcony', 'tim', 'swept', 'neighbor', 'tractor', 'chemistry', 'what', 'most', 'school', 'alls', 'stumble', 'hustle', 'owe', 'weak', 'sparkin', 'wide', 'hang', 'left', 'classmate', 'tape', 'pour', 'great', 'walk', 'thats', 'happen', 'regret', 'season', 'dream', 'careless', 'colder', 'bleach', 'attitude', 'turn', 'yourе', 'head', 'set', 'already', 'upon', 'cancel', 'wicked', 'unresolved', 'last', 'midnight', 'cruelty', 'hey', 'plaything', 'cap', 'bed', 'civility', 'stalk', 'theyll', 'beyond', 'sensual', 'report', 'jewel', 'harder', 'terribly', 'yeugh', 'alone', 'sophistication', 'clyde', 'dude', 'calm', 'ferociously', 'ease', 'previously', 'shoreditch', 'rainy', 'glisten', 'applaud', 'chip', 'meeting', 'kid', 'ohsoeasy', 'goin', 'callin', 'pen', 'soho', 'blinding', 'voice', 'finger', 'heart', 'early', 'rhode', 'aint', 'heartbreaker', 'makeup', 'simple', 'cheer', 'weed', 'hasnt', 'trust', 'sunshine', 'mom', 'dangerous', 'shady', 'wednesday', 'loud', 'excellent', 'reveler', 'hurt', 'twinkle', 'freefall', 'pageant', 'guilty', 'snake', 'ending', 'starry', 'babe', 'round', 'ballet', 'magician', 'copout', 'would', 'wideeyed', 'mystify', 'oh', 'tupelo', 'polite', 'sing', 'forgive', 'em', 'jumping', 'breakup', 'hit', 'decide', 'color', 'peaceful', 'smooth', 'seventeen', 'snap', '16', 'living', 'hater', 'neck', 'knelt', 'couldnt', 'house', 'busier', 'fort', 'interruption', 'whatever', 'bos', 'tallest', 'affair', 'than', 'daddy', 'enough', 'screamin', 'chatter', 'exhaust', 'alcohol', 'feeling', 'icy', 'freckle', 'im', 'demon', 'across', 'photograph', 'red', 'surprise', 'without', 'nemesis', 'spent', 'aisle', 'ignore', 'kitchen', 'grand', 'little', 'outside', 'land', 'bear', 'altar', 'patrón', '20', 'duchess', 'grocery', 'hug', 'baby', 'silence', 'armor', 'indentation', 'accuse', 'echoed', 'piece', 'wind', 'ayy', 'muse', 'bulletproof', 'patiently', 'shark', 'hand', 'saw', 'note', 'someone', 'straw', 'several', 'who', 'cake', 'streetlight', 'steel', 'away', 'her', 'about', 'clothes', 'tick', 'love', 'stomach', 'surely', 'row', 'wrinkle', 'tasteful', 'wonderland', 'traitor', 'haahah', 'else', 'talk', 'stranger', 'apartment', 'cover', 'injury', 'runnin', 'thin', 'honest', 'heartbreak', 'burst', 'avoid', 'clown', 'paper', 'brush', 'court', 'dirtiest', 'football', 'snuck', 'high', 'desperately', 'tux', 'guitar', 'outta', 'weve', 'haah', 'judge', 'bad', 'consequence', 'indifference', 'church', 'foyer', 'bullet', 'boy', 'front', 'brace', 'word', 'permanent', 'skippin', '90', 'hmm', 'can', 'whippin', 'thorn', 'understands', 'angel', 'kinda', 'upset', 'planet', 'price', 'jailer', 'stitch', 'rewind', 'fireflycatching', 'rearview', 'so', '‘', 'mural', 'open', 'wander', 'none', 'theyd', 'meant', 'fox', 'market', 'liar', 'together', 'shoulder', 'parent', 'fray', 'weapon', 'backyard', 'inside', '4th', 'mindless', 'shoe', 'karma', 'lullaby', 'perfect', 'nothing', 'holdin', 'counting', 'disappointment', 'sainttropez', 'yes', 'rust', 'haunt', 'hipster', 'alley', 'hesaid', 'something', 'sinking', 'grows', '32', 'undone', 'james', 'triptrippin', 'urge', 'chain', 'lime', 'gay', 'think', 'rare', 'shake', 'm', 'place', 'opinion', 'view', 'sixteen', 'fond', 'finally', 'saturn', 'pool', 'york', 'freshman', 'where', 'tshirt', 'false', 'stairwell', 'staircase', 'drum', 'stress', 'my', 'twin', 'widow', 'habit', 'smell', 'miscommunications', 'contest', 'streak', 'breakable', 'revenge', 'met', 'ambition', 'discover', 'wherever', 'drive', 'other', 'sad', 'scream', 'glorious', 'album', 'try', 'capture', 'alive', 'three', 'mic', 'branch', 'fatal', 'holiday', 'wishin', 'fling', 'openshut', 'tea', 'usual', 'boardwalk', 'compass', 'combat', 'popcorn', 'getaway', 'reason', 'chasin', 'build', 'lake', 'clearing', 'sayin', 'winestained', 'bell', 'bleeding', 'beggin', 'mansion', 'confetti', 'wellpressed', 'core', '18', 'socalled', 'west', 'business', 'sensible', 'feud', 'enemy', 'salute', 'shotgun', 'lookout', 'reading', 'over', 'born', 'freedom', 'edge', 'wake', 'respect', 'later', 'sea', 'mental', 'comin', 'wildfire', 'pebble', 'brighter', 'friction', 'underneath', 'office', 'flush', 'afternoon', 'news', 'shift', 'mistress', 'masterpiece', 'tentlike', 'pjs', 'fool', 'willow', 'arrow', 'grant', 'depressed', 'honor', 'outdoor', 'blue', 'sleaze', 'ohohahh', 'played', 'madness', 'lesson', 'wise', 'ash', 'throw', 'doll', 'bottle', 'road', 'oohoohoohooh', 'merry', 'vow', 'finish', 'ruthless', 'rebekah', 'cobblestone', 'recognize', 'glow', 'fading', 'brown', 'couldve', 'boat', 'black', 'achievement', 'dig', 'temptation', 'rear', 'crystal', 'steer', 'a', 'dazzle', 'smarter', 'car', 'taxi', 'impressed', 'sequin', 'penny', 'me…', 'listеn', 'dog', 'six', 'louis', 'sir', 'fеarless', 'film', 'goodbye', 'chandelier', 'notice', 'table', 'comet', 'forgiveness', 'nеver', 'meaning', 'crowd', 'ship', 'salt', 'weakness', 'run', 'naïve', 'flannel', '17', 'bathroom', 'drop', 'smoke', 'before', 'tame', 'bridge', 'late', 'beating', 'wiser', 'tap', 'toss', 'rice', 'june', 'st', 'or', 'ball', 'from', 'couch', 'okay', 'short', 'board', 'balance', 'smart', 'weather', 'celebrate', 'snow', 'ahahah', 'melt', 'fly', 'outrage', 'today', 'skip', 'pick', 'mustve', 'same', 'prose', 'darkest', 'perfectly', 'sang', 'rich', 'watch', 'pitchfork', 'thing', 'dont', 'live', 'politе', 'everywhere', 'misty', 'spot', 'consider', 'notch', 'estes', 'complain', 'oohoohooh', 'own', 'selfindulgent', 'grief', 'tab', 'sense', 'there', 'freeze', 'doin', 'five', 'exile', 'yogurt', 'jewelry', 'lift', 'box', 'revolves', 'dresser', 'cabin', 'nicety', 'shape', 'drake', 'theirs', 'lifetime', 'cricket', 'door', 'another', 'magic', 'gym', 'daylight', 'shatter', 'precede', 'frost', 'ur', 'clung', 'maybe', 'difficult', 'drag', 'sidewalk', 'low', 'haul', 'trait', 'insecurity', 'innocent', 'thrill', 'dry', 'jesus', 'smoking', 'glimmer', 'bump', 'giftwrapped', 'mornin', 'poker', 'whiskey', 'shell', 'hopelessly', 'hood', 'changin', 'money', 'motel', 'pride', 'machine', 'thigh', 'suspect', 'didnt', 'record', 'sent', 'juliet', 'comingofage', 'write', 'save', 'sorry', 'hallelujah', 'grass', 'overdose', 'wave', 'stage', 'movin', 'mattress', 'crept', 'treacherous', 'prince', 'guy', 'vill

In [53]:
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np

In [54]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(vocab)

In [55]:
def embedding_for_vocab(filepath, word_index,
                        embedding_dim):
    vocab_size = len(word_index) + 1
      
    # Adding again 1 because of reserved 0 index
    embedding_matrix_vocab = np.zeros((vocab_size,
                                       embedding_dim))
  
    with open(filepath, encoding="utf8") as f:
        for line in f:
            word, *vector = line.split()
            if word in word_index:
                idx = word_index[word]
                embedding_matrix_vocab[idx] = np.array(
                    vector, dtype=np.float32)[:embedding_dim]
  
    return embedding_matrix_vocab

In [56]:
# matrix for vocab: word_index
embedding_dim = 50
embedding_matrix_vocab = embedding_for_vocab(
    './glove.6B.50d.txt', tokenizer.word_index,
  embedding_dim)
  
print("Dense vector for first word is => ",
      embedding_matrix_vocab[1])

Dense vector for first word is =>  [ 0.80574    -0.18509001  0.13801999  0.27680999  0.33407    -0.25659999
  0.46869999 -0.54062998  0.28737     0.27089     0.12679     0.15963
 -0.35407001  1.10829997  0.14695001 -0.43626001 -1.38569999 -1.04480004
  1.10769999 -0.67400998 -0.47310999 -0.53557003 -0.85367     0.080285
 -0.0082252   0.97487998 -0.21298     1.25199997  0.11226    -0.62677997
  0.47525001 -0.33473     0.29841     0.65394002 -0.74796999  0.63417
  0.85978001  0.22536001  0.73109001 -0.089299    1.00179994  0.39456001
 -0.37889999 -0.055091   -0.98641002  0.24167     1.03499997 -0.74792999
  0.68605    -0.34841999]

In [57]:
list(tokenizer.word_index.keys())[list(tokenizer.word_index.values()).index(16)]

'aim'

In [58]:
from sklearn.neighbors import NearestNeighbors

In [207]:
nn = NearestNeighbors(n_neighbors=4, algorithm='ball_tree', metric='euclidean')

In [208]:
nn.fit(embedding_matrix_vocab)

NearestNeighbors(algorithm='ball_tree', metric='euclidean', n_neighbors=4)

In [167]:
results = nn.kneighbors(embedding_matrix_vocab[[3]])

In [168]:
most_suitable = list(tokenizer.word_index.keys())[list(tokenizer.word_index.values()).index(results[1][0][3])]

In [169]:
most_suitable

'disbelief'

In [179]:
list(tokenizer.word_index.keys())[list(tokenizer.word_index.values()).index(9)]

'gather'

In [ ]:
# 1 embedding_matrix_vocab to są embeddingi SŁÓWEK Z PIOSENEK
# 2 stworzyć dodatkowo embeddingi jakiś emocji i po nich odpytywać, zwraca się top 5 słów z jej piosenek wszystkich pasujacych do szukanego słowa
# 3 stworzyć tf idf i wybrać 5 top słów dla każdej piosenki
# 4 + dodatkowe features daceability itp ktore wybierze uzytkownik
# 4 porównać to, co wyszło w 2 + 4 z tym co wyszło w 3 + pobrane z api, znowu z knn

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
vectorizer = TfidfVectorizer(
    analyzer='word', 
    stop_words='english', 
    ngram_range = (1,1), 
    #max_df=0.5, 
    use_idf=True, 
    smooth_idf=True
    #max_features=1000
    )

In [33]:
df.head()

,album_name,track_title,track_n,lyric,line
0,folklore (deluxe version),the 1,1,Im do good Im on some new shit,1
1,folklore (deluxe version),the 1,1,Been say yes instead of no,2
2,folklore (deluxe version),the 1,1,I thought I saw you at the bus stop I didnt th...,3
3,folklore (deluxe version),the 1,1,I hit the ground run each night,4
4,folklore (deluxe version),the 1,1,I hit the Sunday matinée,5

In [68]:
grouped = df[['track_title', 'lyric']].groupby('track_title').agg(list).reset_index()

In [69]:
grouped['lyric'] = grouped['lyric'].apply(lambda x: ' '.join(x))

In [70]:
grouped.head()

              track_title                                              lyric
0        ...Ready for It?  knew he be a killer first time that i saw him ...
1                      22  it feel like a perfect night to dress up like ...
2  A Perfectly Good Heart  why would you wan na break a perfectly good he...
3   A Place In This World  i dont know what i want so dont ask me cause i...
4               Afterglow  i blew thing out of proportion now youre blue ...

In [71]:
tfidf_matrix  = vectorizer.fit_transform(grouped['lyric'].tolist() )

In [72]:
tfidf_features = sorted(vectorizer.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [73]:
df_tfidf = pd.DataFrame(data = tfidf_matrix.toarray(),index = range(len(grouped)),columns = tfidf_features)
df_tfidf

,158,16,16th,17,18,20,20year,22,230,2am,...,yesterday,yeugh,yogurt,york,youd,youll,young,youre,yourе,youve
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.081395,0.036791,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.655537,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.046546,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.042452,0.020622,0.0,0.0
159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.057647,0.0,0.0
162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0

In [81]:
result = pd.concat([grouped, df_tfidf], axis=1, join="inner")

In [82]:
result.head()

,track_title,lyric,158,16,16th,17,18,20,20year,22,...,yesterday,yeugh,yogurt,york,youd,youll,young,youre,yourе,youve
0,...Ready for It?,knew he be a killer first time that i saw him ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.081395,0.036791,0.000000,0.0,0.0
1,22,it feel like a perfect night to dress up like ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.655537,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
2,A Perfectly Good Heart,why would you wan na break a perfectly good he...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
3,A Place In This World,i dont know what i want so dont ask me cause i...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
4,Afterglow,i blew thing out of proportion now youre blue ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.046546,0.0,0.0

In [99]:
result.nlargest(3,'summer')

,track_title,lyric,158,16,16th,17,18,20,20year,22,...,yesterday,yeugh,yogurt,york,youd,youll,young,youre,yourе,youve
21,Cruel Summer,yeah yeah yeah yeah fever dream high in the qu...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.029475,0.0,0.077662,0.0,0.0
139,​betty,betty i wont make assumption about why you swi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
135,seven,please picture me in the tree i hit my peak at...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [100]:
metadata = pd.read_csv('spotify_taylorswift.csv')

In [104]:
metadata = metadata[['name', 'danceability', 'acousticness', 'energy', 'liveness', 'valence']]

In [107]:
final = pd.merge(
    metadata,
    result,
    how="inner",
    on=None,
    left_on="name",
    right_on="track_title",
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [108]:
final.head()

,name,danceability,acousticness,energy,liveness,valence,track_title,lyric,158,16,...,yesterday,yeugh,yogurt,york,youd,youll,young,youre,yourе,youve
0,22,0.661,0.00215,0.729,0.0477,0.668,22,it feel like a perfect night to dress up like ...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
1,A Perfectly Good Heart,0.483,0.00349,0.751,0.1280,0.268,A Perfectly Good Heart,why would you wan na break a perfectly good he...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
2,Afterglow,0.756,0.13000,0.449,0.1140,0.399,Afterglow,i blew thing out of proportion now youre blue ...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.046546,0.0,0.000000
3,All Too Well,0.602,0.03820,0.609,0.1280,0.337,All Too Well,i walk through the door with you the air be co...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.098728
4,Bad Blood,0.646,0.08850,0.794,0.2010,0.287,Bad Blood,cause baby now weve get bad blood you know it ...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.023505,0.0,0.117325

In [109]:
features = ['danceability', 'acousticness', 'energy', 'liveness', 'valence']

In [260]:
example = {'romance': 1}

In [261]:
# matrix for vocab: word_index
embedding_dim = 50
embedding = embedding_for_vocab(
    './glove.6B.50d.txt', example,
  embedding_dim)
  
print("Dense vector for first word is => ",
      embedding[1])

Dense vector for first word is =>  [ 2.59200007e-01  1.12230003e+00 -1.59300005e+00 -1.23690002e-01
 -1.50409997e-01  1.35230005e+00 -4.44849998e-01 -4.33490008e-01
 -6.17089987e-01  1.09710002e+00 -3.75299990e-01  7.91920006e-01
 -2.11909994e-01  3.76489997e-01  1.05530000e+00 -4.50250000e-01
 -4.01450008e-01  7.70549998e-02 -1.03349999e-01  4.41700011e-01
  4.38129991e-01  9.72060025e-01  9.50599983e-02  9.50380027e-01
  9.78630006e-01 -8.12189996e-01 -1.25880003e+00 -1.58629999e-01
  7.95669973e-01  1.23329997e-01  1.52730000e+00 -2.26129994e-01
  1.10670000e-01 -7.54309967e-02 -2.84299999e-02  9.93089983e-04
 -1.69369996e+00 -5.15169978e-01 -6.11320019e-01 -8.41170013e-01
  6.70820028e-02  1.83060005e-01  1.44930005e-01 -2.29589999e-01
 -7.61620030e-02  9.62060019e-02  1.29089999e+00 -5.79970002e-01
 -3.14269990e-01 -3.65330011e-01]

In [262]:
resultt = nn.kneighbors(embedding[[1]])

In [263]:
all_results = list(resultt[1][0])

In [265]:
top_words = [list(tokenizer.word_index.keys())[list(tokenizer.word_index.values()).index(x)] for x in all_results]

In [266]:
new_features = features + top_words

In [267]:
new_features

['danceability',
 'acousticness',
 'energy',
 'liveness',
 'valence',
 'romantic',
 'mystery',
 'revolves',
 'obsession']

In [269]:
final[new_features]

,danceability,acousticness,energy,liveness,valence,romantic,mystery,revolves,obsession
0,0.661,0.00215,0.729,0.0477,0.668,0.0,0.0,0.0,0.0
1,0.483,0.00349,0.751,0.1280,0.268,0.0,0.0,0.0,0.0
2,0.756,0.13000,0.449,0.1140,0.399,0.0,0.0,0.0,0.0
3,0.602,0.03820,0.609,0.1280,0.337,0.0,0.0,0.0,0.0
4,0.646,0.08850,0.794,0.2010,0.287,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
94,0.456,0.81400,0.265,0.0679,0.112,0.0,0.0,0.0,0.0
95,0.602,0.88800,0.494,0.0902,0.374,0.0,0.0,0.0,0.0
96,0.780,0.75000,0.361,0.1080,0.163,0.0,0.0,0.0,0.0
97,0.511,0.31200,0.478,0.1470,0.408,0.0,0.0,0.0,0.0
98,0.392,0.83300,0.574,0.1450,0.529,0.0,0.0,0.0,0.0

In [ ]:
# z tej reszty zrobic potem srednia, tak zeby to byl jeden feature
# knn do jakis dacneability itd a reszte do 1